<div class="app-content">

  <div class="group">
    <app-alert></app-alert>
    <form role="form" style="text-align:center" (submit)="login()">
      <mat-input-container>
        <input matInput type="text" required [(ngModel)]="user.uid" id="username" name="username">
        <mat-placeholder>
          <i class="material-icons app-input-icon">face</i>Username
        </mat-placeholder>
      </mat-input-container>
      <br>
      <br>
      <mat-input-container>
        <input matInput type="password" required [(ngModel)]="user.psw" id="password" name="password">
        <mat-placeholder>
          <i class="material-icons app-input-icon">lock_open</i>Password
        </mat-placeholder>

      </mat-input-container>
      <br>
      <br>
      <button mat-raised-button type="submit" name="action">LOGIN</button>
      <br>
      <br>

      <mat-slide-toggle color="primary">
        <small>Remember me!</small>
      </mat-slide-toggle>
    </form>
  </div>
</div>
