<div class="wrapper">
    <mat-card flex="40" class="form mat-elevation-z8">
        <form #editForm="ngForm" id="ngForm" (ngSubmit)="onSubmit(editForm)">
            <div class="newPassword">
                <mat-form-field>
                    <mat-placeholder class="placeholder" >New Password</mat-placeholder>
                    <input matInput type="password" name="newPassword" id="newPassword" ngModel>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-placeholder class="placeholder" >Confirm New Password</mat-placeholder>
                    <input matInput type="password" name="confirmPassword" id="confirmPassword" ngModel>
                </mat-form-field>
            </div>
            <div class="oldPassword">
                <mat-form-field>
                    <mat-placeholder class="placeholder" >Current Password</mat-placeholder>
                    <input matInput type="password" name="oldPassword" id="oldPassword" ngModel>
                </mat-form-field>   
            </div>
            <div>
                <button mat-button id="submit" form="ngForm">Submit</button>
                <button mat-button id="cancel">Cancel</button>
            </div>
        </form>
    </mat-card>
</div>